.message {
    width: 60%;
    border: 1px black solid;
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 0px 5px;
    text-align: left;
    background-color: var(--background-message-color);
    border-radius: 50px;
    border-bottom-right-radius: 0px;
}

.message-user-avatar {
    margin: 10px;
    flex: 1;
}
.message-user-avatar img{
   border-radius: 50%;
   width: 80px;
   height: 80px;
}

.message-content {
    flex: 20;
}

.message-like {
    background-color: var(--background-message-color);
    border: var(--background-message-color);
    color: var(--button-color);
    flex: 1;
}
