.own-message {
    width: 60%;
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 5px 20px;
    background-color: var(--background-own-message-color);
    border-radius: 50px;
    border-bottom-left-radius: 0px;
}

.own-message-content {
    text-align: left;
    padding-left: 20px;
    overflow-x: hidden;
}

.message-buttons-container {
    display: flex;
    justify-content: space-between;
}

.message-edit {
    background-color: var(--background-own-message-color);
    border: var(--background-own-message-color);
}

.message-edit:active {
    opacity: 0.3;
}

.message-delete {
    background-color: var(--background-own-message-color);
    border: var(--background-own-message-color);
}

.message-delete:active {
    opacity: 0.3;
}