.message-input {
  padding: 5px 0px;
}

.message-input form {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.message-input-text {
  width: 80%;
  height: 100%;
  background-color: var(--background-color-chat);
  font-size: larger;
  color: white;
}

.message-input-text::placeholder {
  color: rgba(255, 255, 255, 0.63);
}

.message-input-button {
  width: 15%;
  background-color: var(--button-color);
  border-radius: 30px;
  font-size: larger;
}
