.header {
    border: 1px black solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-chat);
    color: white;
    padding: 0px 20px;
}

.header-info {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-around;
}