.App {
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(235, 231, 241);
}

.logo-img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}